# Core dependencies
streamlit
torch
torchvision

# Image processing
Pillow
numpy
pandas
scikit-image
scipy
opencv-python-headles

# Data visualization
plotly
matplotlib

# MLops and monitoring
mlflow
psutil
prometheus-client

# Utilities
python-dotenv
pydantic
pyyaml
watchdog

# Development
black
flake8
pytest
